<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--URL-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Student_DB</property>
        <!--Username-->
        <property name="hibernate.connection.username">root</property>
        <!--Password-->
        <property name="hibernate.connection.password">Chaudhary@18122022</property>
        <!--Driver-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show SQL-->
        <property name="hibernate.show_sql">true</property>

    </session-factory>
</hibernate-configuration>